.ChatTab {
  padding: 14px 0 14px 18px;
  display: flex;
  align-items: center;
  position: relative;
  transition: background 100ms;
}

.ChatTab:hover {
  background-color: var(--main-background-2);
}

.ChatTab.active {
  background-color: var(--main-background-3);
}

.ChatTab.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 4px;
  background: #4384f5;
}

.ChatTab__Info {
  margin-left: 12px;
  flex-grow: 1;
}

.ChatTab__Info-Name {
  font-weight: 500;
  font-size: 14px;
}

.ChatTab__Info-Name svg {
  font-size: 14px;
  margin-right: 4px;
  margin-bottom: -2px;
}

.ChatTab__Info-LastMessage {
  color: #444;
  word-break: break-word;
}

.ChatTab__More {
  width: 20px;
  height: 100%;
}

.ChatTab__More-Time {
  white-space: nowrap;
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 11px;
  color: #444;
}

.ChatTab--More-UnseenMessage {
  position: absolute;
  font-size: 11px;
  top: 45%;
  transform: translate(-50%, -50%);
  right: 4px;
  background-color: var(--main-red-1);
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: white;
  border-radius: 50%;
}

/* Skeleton */
.ChatTabSkeleton {
  display: flex;
  align-items: center;
  height: 68px;
  padding: 0 18px;
  width: 100%;
}

.ChatTabSkeleton__Avatar {
  margin-right: 12px;
}
