.App {
  height: 100%;
  width: 100%;
  display: flex;
}

.App__MiniSidebar {
  height: 100%;
  width: 48px;
  flex-shrink: 0;
  background-color: var(--main-background-dark-1);
}

.App__Sidebar {
  width: 320px;
  height: 100%;
  flex-shrink: 0;
  border-right: 1px solid var(--separator);
}

.App__Main {
  flex-grow: 1;
  height: 100%;
}
